<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Cart page</h1>
    <% if (cartItems.length === 0) { %>
        Your Cart is empty
    <% } else { %>
            <% for (let i = 0; i < cartItems.length ; i++) { %>
                <div class="card d-flex flex-row gap-4 align-items-center">
                    <h5 class="card-title">
                        Name: <%= cartItems[i].items.name %>
                    </h5>
                    <img src="/images/<%= cartItems[i].items.img %>" alt="" style="height: fit-content;">
                    <h5 class="mb-0">
                        Qty: <%= cartItems[i].items.qty %>
                    </h5>
                    <h5 class="mb-0">
                        Price: <%= cartItems[i].items.price %>
                    </h5>
                    <form action="/cart/add" method="post">
                        <button value="<%= cartItems[i].items.productId %>" name="productId">
                            +
                        </button>
                    </form>
                    <form action="/cart/remove" method="post">
                        <button value="<%= cartItems[i].items.productId %>" name="productId">
                            -
                        </button>
                    </form>
                </div>
            <% } %>
            <h1>Total Price: <%= total %> </h1>
        <% } %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>